<html>
    <head>
        <title>Witaj w Ansible</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Platforma nginx skonfigurowana za pomoca ansible</h1>
        <p>Jezeli widzisz te strone, to znaczy, ze poprawnie zainstalowales platforme nginx</p>
        <p>{{ ansible_managed }}</p>
    </body>
</html>